{#
/**
* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup templates
*/
#}
{% import _self as menus %}

{#
 We call a macro which calls itself to render the full tree.
 @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
 {% import _self as menus %}
     {% if menu_level == 0 %}
     <ul class="navbar-nav ml-auto">
        {% for item in items %}
            {%
            set classes = [
            'nav-item',
            item.is_expanded ? 'dropdown',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
            item.in_active_trail ? 'active',
            ]
            %}
          {% if item.below %}
            {% if item.url.toString|length <= 0 %}
            <li {{ item.attributes.addClass( classes,'expanded', 'dropdown') }}>
              <span class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown"> {{ item.title }}</span>
              {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
            </li>
          {% else %}
            <li {{ item.attributes.addClass( classes,'expanded', 'dropdown') }}>
              <a href="{{ item.url }}" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown"> {{ item.title }}</a>
              {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
            </li>
            {% endif %}
          {% else %}
            <li {{ item.attributes.addClass(classes)}}> 
              <a href="{{ item.url }}" class="nav-link"> {{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
     {% elseif menu_level == 1 %}
      {% if items %}
      <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
        {% for item in items %}
          {% if item.below %}
            <li {{ item.attributes.addClass( classes,'expanded', 'dropdown', 'dropdown-item') }}>
              <a href="{{ item.url }}" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ item.title }}</a>
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            </li>
            {% else %}
            <li class="dropdown-item"> 
              <a href="{{ item.url }}" class="dropdown-link"> {{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
     {% endif %}
{% endmacro %}