{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
      <div class="container">
        <a href="{{ path('<front>') }}"><img src="{{ logopath }}" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
         {{ page.primary_menu }}
        </div>
      </div>  
      </nav>
    </header>


    <section class="top-banner mx-auto text-center">
          <h4>{{ page.top_banner }}</h4>
          {{ page.bread_crumb }}
                <!--start:content -->
    </section>
{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>      
          <a href="#" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 
 <!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row">

        <div class="col-md-3 col-sm-12 footer-columns">
          {{ page.footer_col_1 }}
        </div>  

          <div class="col-md-3 col-sm-12 footer-columns">
            <h6>INFO</h6>
            {{ page.footer_col_2 }}
          </div>

          <div class="col-md-3 col-sm-12 footer-columns">
            <h6>RECENT BLOG</h6>
            {{ page.footer_col_3 }}
          </div>      
        
          <div class="col-md-3 col-sm-12 footer-columns">
            <h6>SOCIAL</h6>
            <div class="social">
                <a href="{{twitter}}" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="{{facebook}}" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="{{instagram}}" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="{{youtube}}" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                <a href="{{pintrest}}" class="google-plus"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
          </div> 
        </div>
      </div>
    </section>

    <div class="copyright">
      {{page.copyrights}}
    </div>
<!-- END FOOTER SECTION -->