  <img src="{{fields.field_banner_slider_image.content}}" alt="banner_1" class="img-responsive">
  <div class="carousel-caption d-none d-md-block wow fadeInUp">
  <p>{{ fields.field_sub_head.content }}</p>
  <h1>{{ fields.field_banner_slider_head.content }}</h1>
  <p>{{ fields.field_banner_description.content }}</br></p> 
  <a href="{{fields.field_banner_button.content}}" class="btn btn-infos">{{fields.field_banner_button_1.content}}</a>
  </div>