<section id="banner-slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            {% for row in rows %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}" class="{% if ( loop.index == 1 )  %}active{% endif %}"></li>
            {% endfor %}  
        </ul>
        <div class="carousel-inner" role="listbox">
            {% for row in rows %}
                {% if loop.index == 1  %}
                <div class="carousel-item active">
                    {{row.content}}
                </div>
                {% else %}
                <div class="carousel-item">
                    {{ row.content }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>